.model {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#00000055;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .modalContent {
      background-color: white;
      padding: 2rem;
      border-radius: 8px;
      width: 40%;
      height: auto;
      min-width: 300px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
      position: relative;  
      .closeBtn{
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        padding: 10px;
        background: red;
        color: #fff;
        cursor: pointer;
        font-size: 1.3rem;
        
      }
  
     h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    
     p {
      font-size: 1rem;
      color: #666;
      margin-bottom: 1.5rem;
    }
    
    .loginButton {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 0.8rem 2rem;
      font-size: 1rem;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s ease;
      margin-top: 20px;
      &:hover {
        background-color: #0056b3;
      }
    
    }
    
   }
  }