.homePage {
    min-height: 80vh;
    width: 100%;
    margin-top: 0px;
    box-sizing: border-box;
     
    .hero {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      max-height: 545px;   

      #slide_Cont {
        height: 100%;
        width: 100%;
        max-height: 545px;  
        .mainDiv {
          box-sizing: border-box;
          height: 100%;
          width: 100vw;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          max-height: 545px;  
          .fadeImgs {
            object-fit: cover;   
            width: 100%;
            height: 100%;
            max-height: 545px;  
          }
          @keyframes goRight {
            0% {
              left: -150%;
              opacity: 0;
            }
            100% {
              left: 6%;
              opacity: .3;
            }
          }
          @keyframes opacityAni {
             0%{
               opacity: .3;
               box-shadow: 0 0 0 0;
               border-radius: 20px;
             }
             50%{
              opacity: .8;
              border-radius: 10px;
              box-shadow: 0 0 12px 0 orange;
             }  
             100%{
               opacity: 1;
               border-radius: 5px;
               box-shadow: 0 0 20px 0 black;
             }

          }

          @keyframes opPer {
            100% {
              opacity: 1;
              border-radius: 5px;
              box-shadow: 0 0 20px 0 black;
            }
          }
          

          .texts {
            backdrop-filter: blur(8px);
            animation: goRight 0.7s ease-in-out forwards, opacityAni 6.4s linear forwards, opPer 6.4s linear forwards;
            position: absolute;
            z-index: 155;
            color: #fff;
            background: rgba(127, 137, 186, 0.38); // Changed to use rgba for better transparency control
            bottom: 7%;
            right: 20%;
            max-width: 500px;
            min-width: 200px;
            min-height: 50px;
            word-wrap: break-word;
            padding: 20px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          
          
            .box {
              width: 100%;
              height: 100%;
              color: #74858c;
              padding: 15px;
              position: relative;
              
              h1 {
                font-family: 'Poppins', sans-serif;
                font-size: 2rem;
                color: #212727;
              
              }

              
  
              p {
                font-weight: 700;
                color: skyblue;
              }
  
              button {
                padding: 10px 40px;
                position: absolute;
                bottom: -43px;
                left:18%;
                transform: translateX(-50%);
                background: #737b7c;
                border: none;
                color: #fff;
                font-weight: 600;
                font-size: 1.2rem;
                cursor: pointer;
                transition: all .4s;
                
                &:hover{
                  color: #00000055;
                  background: #fff;
                  

                }
  
              }
            }
          }
         }
        }
      }

// section 2

.topOffers{
   margin-top: 60px;
   height: 40vh;
   width: 100%;

   h1{
      font-size: 1.6rem;
      color: #74858c;
      margin-left: 20px;
      .arrow{
         margin-bottom: -6px;
         margin-left: 10px;
         opacity: .7;
      }
   
    }
   .carouselShow{
     height: 100%;
     width: 100%;
     
    button{
        z-index: 50;
    }

     .item{
       margin-left: 60px;
       margin-right: 60px;
       height: 200px;
       width: 310px;
       box-shadow: 0 0 10px 0 #cbd1d7;
       padding: 10px;
       transition: all .3s;
       display: flex;
       flex-direction: row;
       &:hover{
          margin-top: -10px;
       }


       .img{
          width: 60%;
          height: 100%;  
          img{
            
              border-radius: 10px;  
              height: 100%;
              width: 100%;
          }
       }
       .info{
        //  border: 1px solid red;
         width: 50%;
         padding: 10px;
         display: flex;
        //  flex-wrap: wrap;
         align-items: flex-start;
         flex-direction: column;
   
         .other{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            height: 80%;
            width: 100%;
            justify-content: space-between;
            

            button{
               padding: 10px;
               border: none;
               color: #fff;
               background: green;
               cursor: pointer;
               border-radius: 6px;
               font-size: 1.1rem;
            }
            span{
              .star{
                  // border: 1px solid red;
                  margin-bottom: -2px;
                  margin-right: 5px;
                  // background: yellow;
                  color:yellow;
              }
            }
          } 
         

        }
     
      }
   
    }

}


// section 3
.trending {
  margin-top: 60px;
  min-height: 82.4vh;
  width: 100%;

  h1 {
    font-size: 1.6rem;
    color: #74858c;
    margin-left: 20px;

    .arrow {
      margin-bottom: -6px;
      margin-left: 10px;
      opacity: 0.7;
    }
  }

  .cards {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    height: 90%;
    width: 100%;

    .card {
      position: relative;
      margin: 7px;
      height: 350px;
      width: 230px;
      border: 1px solid #e3e3ec;
      transition: all 0.3s;
      cursor: pointer;
      border-radius: 6px;

      &:hover {
        box-shadow: 0 0 25px 0 #a0a2b0dc;
        transform: scale(0.96);
      }

      .img {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
        transition: all 0.2s;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          transition: all 0.8s;
        }

        &::before {
          content: '';
          position: absolute;
          height: 100%;
          width: 100%;
          background: #d5c8c845;
        }
      }

      .title {
        position: absolute;
        bottom: 10px;
        left: 18%;
        color: #003666;
        font-weight: 700;
      }

      .item > .title:hover {
        color: red;
      }
    }
  }
}

}




@media screen and (max-width: 664px) {
  .homePage {
     .topOffers{
        
      .carouselShow{
          .item{
              height: 150px;
              width: 280px;
              margin-left: 30%;
                  
              .info{
                 h4{
                   font-size: .7rem;
                 }
                .other{

                    button{
                      padding: 1px;
                      font-size: .9rem;
                      
                    }
                }
              
              
              }

          }
      }
    
    }
     
    
    .trending{
      .cards{
        .card {
          height: 190px;
          width: 140px;
         .title{
          font-size: .7rem;
         }

        }

      }
     }
  }
}
  
@media screen and (max-width: 550px) {
  // .cards {
  .homePage {
     .topOffers{
        
      .carouselShow{
          .item{
              height: 150px;
              width: 280px;
              margin-left: 24%;
            
          }
      }
    
    }

  }
}
@media screen and (max-width: 440px) {
  // .cards {
  .homePage {
     .topOffers{
        
      .carouselShow{
          .item{
             height: 150px;
              width: 280px;
              margin-left: 13%;
            
          }
      }
    
    }

  }
}

 @media screen and (max-width : 1060px) {
       .homePage {
        margin-top: -49px;
      
         
    .hero {
  
      #slide_Cont {
        .mainDiv {
        
          .texts {
            // background: yellow; 
            right: 40%;
          
            .box {
               h1{
                 font-size: 1.6rem;
               }
               p{
                 font-size: 1rem;
               }
               button{
                left: 25%;
               }

            }
        }
    
        }
      }
    }

      }
     
 }   



 @media screen and (max-width : 650px) {
  .homePage {
   margin-top: -49px;
 
    
.hero {

 #slide_Cont {
   .mainDiv {
    
     .texts {
       height: 200px;
     
       right: 40%;
       bottom: 0;
       top: auto;
       padding: 3px 10px;
       
       .box {
          h1{
            line-height: 25px;
            font-size: 1rem;
          }
          p{
            font-size: .8rem;
          }
          button{
             bottom: 20px;
             left: 44%;
          }

       }
   }

   }
 }
}

 }

}   
