.scroller {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    z-index: 200;
    top: 0;
    left: 0;
        
  }
  .loader {
    width: 60px;
    height: 60px;
  }
  